body {
	box-sizing: border-box;
	max-height: 100vh;
	background-color: rgb(255, 255, 255);
	font-size: 16px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.textarea-calc {
	margin-bottom: 1em;
	padding: 1em;
	min-height: 3em;
	border-radius: 10px;
	border: 1px solid black;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.textarea-calc > span {
	color: rgb(70, 70, 70);
}

.textarea-calc > input {
	width: 100%;
	position: relative;
	left: 0;
	border: none;
	outline: none;
	font-size: 2em;
	font-weight: 500;
	text-align: right;
}

.buttons-calc {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.buttons-calc > button {
	padding: 0.8em 2em;
	border-radius: 5px;
	border: none;
}

/* boton de resultado */

.buttons-calc > button:nth-last-child(2) {
	background-color: rgb(62, 114, 211);
	color: rgb(240, 248, 255);
	font-weight: 900;
}

.buttons-calc > button:nth-last-child(3) {
	font-weight: 900;
}

/* botones de numero y punto  */

.buttons-calc > button:nth-child(-n + 4),
.buttons-calc > button:nth-child(4n) {
	background-color: rgb(218, 218, 218);
}

.buttons-calc > button:hover {
	opacity: 0.8;
}

.buttons-calc > button:active {
	border: 1px solid black;
}
